# Ignore Node.js modules
node_modules/

# Ignore environment variables file
.env

# Ignore printer configuration file
printer.cfg

# Ignore test directory
test/

# Ignore users_config
users_config/

# Ignore json 
utils/id_counter.json
utils/logs.json